.detailNews {
  h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
  }

  h2 {
    margin-top: 1rem;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
